<div class="rf-bab-section">
    {% render 'rf-bab-snippet', 
      product: section.settings.product,
      usp_1: section.settings.usp_1,
      usp_2: section.settings.usp_2,
      usp_3: section.settings.usp_3,
      usp_4: section.settings.usp_4,
      custom_description: section.settings.custom_description,
      product_tags: section.settings.product_tags
    %}
</div>

{% schema %}
{
  "name": "Build-A-Box Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Box Product"
    },
    {
      "type": "header",
      "content": "Product Description"
    },
    {
      "type": "richtext",
      "id": "custom_description",
      "label": "Custom Product Description",
      "default": "<p>Enter your custom product description here. This will be displayed between the bag selector and USP images.</p>"
    },
    {
      "type": "header",
      "content": "Product Tags"
    },
    {
      "type": "text",
      "id": "product_tags",
      "label": "Product Tags",
      "default": "Energy | Flavor | Convenience",
      "info": "Enter product tags separated by |"
    },
    {
      "type": "header",
      "content": "USP Icons"
    },
    {
      "type": "image_picker",
      "id": "usp_1",
      "label": "USP 1 Icon"
    },
    {
      "type": "image_picker",
      "id": "usp_2",
      "label": "USP 2 Icon"
    },
    {
      "type": "image_picker",
      "id": "usp_3",
      "label": "USP 3 Icon"
    },
    {
      "type": "image_picker",
      "id": "usp_4",
      "label": "USP 4 Icon"
    }
  ],
  "presets": [
    {
      "name": "Build-A-Box Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}